pipeline/Email Notifications.json
{
	"name": "Email Notifications",
	"properties": {
		"activities": [
			{
				"name": "Lookup ApplicationLog",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT  ID, Date, Thread, Level, Logger, Number, Message, Exception, WooCommID, FeedType \nFROM  ApplicationLog  where \nNotificationProcessed=0 and Level='ERROR'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ApplicationLogTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Notification Id",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup ApplicationLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup ApplicationLog').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-21.centralus.logic.azure.com:443/workflows/0402ce22065e4993a95c0fc2f38a769f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=45Dv6t4RACfAXUQUiBdGo5u4NkCI2soByapFn8eHQ8M",
								"connectVia": {
									"referenceName": "PlayPowerWooComSelfHosted-IntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "POST",
								"body": {
									"Date": "@{item().Date}",
									"Thread": "@{item().Thread}",
									"Level": "@{item().Level}",
									"Logger": "@{item().Logger}",
									"Number": "@{item().Number}",
									"Message": "@{item().Message}",
									"Exception": "@{item().Exception}",
									"WooCommID": "@{item().WooCommID}",
									"FeedType": "@{item().FeedType}"
								},
								"datasets": [
									{
										"referenceName": "ApplicationLogTable",
										"type": "DatasetReference"
									}
								]
							}
						},
						{
							"name": "ResetNotification",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UpdateNotificationAsProcessed]",
								"storedProcedureParameters": {
									"ID": {
										"value": {
											"value": "@item().ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"WooCommID": {
										"value": {
											"value": "@item().WooCommID",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}