pipeline/pipeline11.json
{
	"name": "pipeline11",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT orders.Order_id as order_id,\n\torders.Customer_id as customer_id,\n\torders.Order_status as order_status,\n\torders.Due_date,\n\torders.Created_date,\n\torders.Order_total,\n\torders.Line_subtotal,\n\torders.Shipping_total,\n\torders.Tax_total,\n\torders.Billing_email,\n\torders.Billing_phone,\n\torders.Billing_firstname,\n\torders.Billing_lastname,\n\torders.Billing_address_1, \n\torders.Billing_address_2, \n\torders.Billing_city,\n\torders.Billing_state,\n\torders.Billing_postcode,\n\torders.Shipping_firstname,\n\torders.Shipping_lastname,\n\torders.Shipping_address_1,\n\torders.Shipping_address_2,\n\torders.Shipping_city,\n\torders.Shipping_state,\n\torders.shipping_provider,\n\t( SELECT products.ProductName, \tproducts.SKU,\tproducts.Price,\tproducts.Qty, \tproducts.SubTotal\n\t\tfrom dbo.All_OrderItems products\n\t\twhere products.Co_num = orders.Order_id\n\t\tfor JSON AUTO ) as product\nFROM [dbo].All_Orders orders where orders.Order_id in ('WV00000453', 'WV00000454', 'WV00000497') ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Table_Temp_Order",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "prod",
											"value": {
												"value": "@json(string(item().product))",
												"type": "Expression"
											}
										}
									],
									"sqlReaderStoredProcedureName": "[dbo].[ALLOrder_ITEMS]",
									"storedProcedureParameters": {
										"OrderId": {
											"type": "String",
											"value": {
												"value": "@item().Order_id",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "SftpWriteSettings",
										"operationTimeout": "01:00:00",
										"useTempFileRename": true
									},
									"formatSettings": {
										"type": "JsonWriteSettings",
										"filePattern": "arrayOfObjects"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "order_id",
												"type": "String"
											},
											"sink": {
												"path": "$['order_id']"
											}
										},
										{
											"source": {
												"name": "customer_id",
												"type": "String"
											},
											"sink": {
												"path": "$['customer_id']"
											}
										},
										{
											"source": {
												"name": "order_status",
												"type": "String"
											},
											"sink": {
												"path": "$['order_status']"
											}
										},
										{
											"source": {
												"name": "Due_date",
												"type": "DateTime"
											},
											"sink": {
												"path": "$['Due_date']"
											}
										},
										{
											"source": {
												"name": "Created_date",
												"type": "DateTime"
											},
											"sink": {
												"path": "$['Created_date']"
											}
										},
										{
											"source": {
												"name": "Order_total",
												"type": "Decimal"
											},
											"sink": {
												"path": "$['Order_total']"
											}
										},
										{
											"source": {
												"name": "Line_subtotal",
												"type": "Decimal"
											},
											"sink": {
												"path": "$['Line_subtotal']"
											}
										},
										{
											"source": {
												"name": "Shipping_total",
												"type": "Decimal"
											},
											"sink": {
												"path": "$['Shipping_total']"
											}
										},
										{
											"source": {
												"name": "Tax_total",
												"type": "Decimal"
											},
											"sink": {
												"path": "$['Tax_total']"
											}
										},
										{
											"source": {
												"name": "Billing_email",
												"type": "String"
											},
											"sink": {
												"path": "$['Billing_email']"
											}
										},
										{
											"source": {
												"name": "Billing_phone",
												"type": "String"
											},
											"sink": {
												"path": "$['Billing_phone']"
											}
										},
										{
											"source": {
												"name": "Billing_firstname",
												"type": "String"
											},
											"sink": {
												"path": "$['Billing_firstname']"
											}
										},
										{
											"source": {
												"name": "Billing_lastname",
												"type": "String"
											},
											"sink": {
												"path": "$['Billing_lastname']"
											}
										},
										{
											"source": {
												"name": "Billing_address_1",
												"type": "String"
											},
											"sink": {
												"path": "$['Billing_address_1']"
											}
										},
										{
											"source": {
												"name": "Billing_address_2",
												"type": "String"
											},
											"sink": {
												"path": "$['Billing_address_2']"
											}
										},
										{
											"source": {
												"name": "Billing_city",
												"type": "String"
											},
											"sink": {
												"path": "$['Billing_city']"
											}
										},
										{
											"source": {
												"name": "Billing_state",
												"type": "String"
											},
											"sink": {
												"path": "$['Billing_state']"
											}
										},
										{
											"source": {
												"name": "Billing_postcode",
												"type": "String"
											},
											"sink": {
												"path": "$['Billing_postcode']"
											}
										},
										{
											"source": {
												"name": "Shipping_firstname",
												"type": "String"
											},
											"sink": {
												"path": "$['Shipping_firstname']"
											}
										},
										{
											"source": {
												"name": "Shipping_lastname",
												"type": "String"
											},
											"sink": {
												"path": "$['Shipping_lastname']"
											}
										},
										{
											"source": {
												"name": "Shipping_address_1",
												"type": "String"
											},
											"sink": {
												"path": "$['Shipping_address_1']"
											}
										},
										{
											"source": {
												"name": "Shipping_address_2",
												"type": "String"
											},
											"sink": {
												"path": "$['Shipping_address_2']"
											}
										},
										{
											"source": {
												"name": "Shipping_city",
												"type": "String"
											},
											"sink": {
												"path": "$['Shipping_city']"
											}
										},
										{
											"source": {
												"name": "Shipping_state",
												"type": "String"
											},
											"sink": {
												"path": "$['Shipping_state']"
											}
										},
										{
											"source": {
												"name": "shipping_provider",
												"type": "String"
											},
											"sink": {
												"path": "$['shipping_provider']"
											}
										},
										{
											"source": {
												"name": "prod"
											},
											"sink": {
												"path": "$['prod']"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "TempOrder",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "PP_SyncUpOrderDetailsOutJson",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}