WooCommerceIntegrationDataFactoryDev/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "WooCommerceIntegrationDataFactoryDev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PP_CopyAllOrderToSFTPServerPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy All Orders",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT orders.Order_id as order_id,\n\torders.Customer_id as customer_id,\n\torders.Order_status as order_status,\n\torders.Due_date,\n\torders.Created_date,\n\torders.Order_total,\n\torders.Line_subtotal,\n\torders.Shipping_total,\n\torders.Tax_total,\n\torders.Billing_Companyname,\n\torders.Billing_email,\n\torders.Billing_phone,\n\torders.Billing_firstname,\n\torders.Billing_lastname,\n\torders.Billing_address_1, \n\torders.Billing_address_2, \n\torders.Billing_city,\n\torders.Billing_state,\n\torders.Billing_postcode,\n\torders.Shipping_Companyname,\n\torders.Shipping_firstname,\n\torders.Shipping_lastname,\n\torders.Shipping_address_1,\n\torders.Shipping_address_2,\n\torders.Shipping_city,\n\torders.Shipping_state, orders.Shipping_postcode,\n\torders.shipping_provider,\n\torders.poNumber as PO_Number,\n\torders.TrackingNumber as TrackingNumber,\n\torders.ShipDate as ShippedDate,\n\t( SELECT \nreplace(replace(\nreplace(products.ProductName,'\" ',' Inch '),\n' 6\"x6\"',' 6 Inch x 6 Inch' ),'40\"/','40 Inch/')\n\nas ProductName, \tproducts.SKU,\tproducts.Price,\tproducts.Qty, \tproducts.SubTotal,\n\t\t(select Char_id,Attrib_id,Item,Config_class from [dbo].[All_OrderItemsConfig] as Config where Config.Co_num = products.Co_num and config.Co_line = products.Co_line\n\t\tfor Json Auto\n\t\t)\n\t\tas ProductConfig\n\n\t\tfrom dbo.All_OrderItems products\n\t\twhere products.Co_num = orders.Order_id\n\t\tfor JSON AUTO ) as products\nFROM [dbo].All_Orders orders",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"maxConcurrentConnections": 1
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "PP_SyncUpAll_Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "BlobAllOrdersJson",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Orders Json File Updater",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "Copy All Orders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "OrdersJsonFileUpdater",
							"method": "GET",
							"headers": {}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy JSON to SFTP Server",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Orders Json File Updater",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "SftpWriteSettings",
									"operationTimeout": "01:00:00",
									"useTempFileRename": true
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "BlobAllOrdersJson",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PP_SyncUpOrderDetailsOutJson",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_CopyCustomers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SFTP to tempCustomer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "/customer-export.xml"
							},
							{
								"name": "Destination",
								"value": "dbo.Temp_BillingCustomer"
							}
						],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table dbo.Temp_BillingCustomer"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Customer_ID']"
										},
										"sink": {
											"name": "WC_CustomerId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Terms_Code']"
										},
										"sink": {
											"name": "WC_TermsCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ship_Code']"
										},
										"sink": {
											"name": "WC_ShipCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Salesman']"
										},
										"sink": {
											"name": "WC_Salesman",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Tax_Code']"
										},
										"sink": {
											"name": "WC_TaxCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Price_Code']"
										},
										"sink": {
											"name": "WC_PriceCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Bill_To_ID']"
										},
										"sink": {
											"name": "WC_BillToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_First_Name']"
										},
										"sink": {
											"name": "WC_BillingFirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Last_Name']"
										},
										"sink": {
											"name": "WC_BillingLastName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Company']"
										},
										"sink": {
											"name": "WC_BillingCompany",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Address_1']"
										},
										"sink": {
											"name": "WC_BillingAddress",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_State']"
										},
										"sink": {
											"name": "WC_BillingState",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Postcode']"
										},
										"sink": {
											"name": "WC_BillingPostcode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Country']"
										},
										"sink": {
											"name": "WC_BillingCountry",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Email']"
										},
										"sink": {
											"name": "WC_BillingEmail",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Phone']"
										},
										"sink": {
											"name": "WC_BillingPhone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_City']"
										},
										"sink": {
											"name": "WC_BillingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Shipping']"
										},
										"sink": {
											"name": "JSON_Shipping",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['Customers']['Customer']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PP_SqlServerTableTemp_BillingCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "UpdateCustomerAndShipToTable",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateCustomerAndShipTo]"
						},
						"linkedServiceName": {
							"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateBillingCustomers",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateCustomerAndShipToTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateBillingCustomers]"
						},
						"linkedServiceName": {
							"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateShipToCustomers",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateBillingCustomers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateShipToCustomers]"
						},
						"linkedServiceName": {
							"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Archive and Delete Customer File",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "UpdateShipToCustomers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": false,
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "SftpWriteSettings",
									"operationTimeout": "01:00:00",
									"useTempFileRename": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CustomerInputFile",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CustomerFileArchive",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SFTP to tempCustomer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"detectDataType": true,
									"namespaces": true
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Customers']['Customer']['Customer_ID']"
										},
										"sink": {
											"name": "WC_CustomerId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Terms_Code']"
										},
										"sink": {
											"name": "WC_TermsCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Ship_Code']"
										},
										"sink": {
											"name": "WC_ShipCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Salesman']"
										},
										"sink": {
											"name": "WC_Salesman",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Tax_Code']"
										},
										"sink": {
											"name": "WC_TaxCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Price_Code']"
										},
										"sink": {
											"name": "WC_PriceCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Bill_To_ID']"
										},
										"sink": {
											"name": "WC_BillToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_First_Name']"
										},
										"sink": {
											"name": "WC_BillingFirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_Last_Name']"
										},
										"sink": {
											"name": "WC_BillingLastName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_Company']"
										},
										"sink": {
											"name": "WC_BillingCompany",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_Address_1']"
										},
										"sink": {
											"name": "WC_BillingAddress",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_Address_2']"
										},
										"sink": {
											"name": "WC_BillingAddress2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_City']"
										},
										"sink": {
											"name": "WC_BillingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_State']"
										},
										"sink": {
											"name": "WC_BillingState",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_Postcode']"
										},
										"sink": {
											"name": "WC_BillingPostcode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_Country']"
										},
										"sink": {
											"name": "WC_BillingCountry",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_Email']"
										},
										"sink": {
											"name": "WC_BillingEmail",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_Phone']"
										},
										"sink": {
											"name": "WC_BillingPhone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Shipping']"
										},
										"sink": {
											"name": "JSON_Shipping",
											"type": "String"
										}
									}
								],
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PP_SqlServerTableTemp_BillingCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_CopyOrderPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Order Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table [dbo].[Temp_Order]"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Order_Number']"
										},
										"sink": {
											"name": "WC_OrderID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Status']"
										},
										"sink": {
											"name": "WC_OrderStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Date']"
										},
										"sink": {
											"name": "WC_Order_Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['Customer_Note']"
										},
										"sink": {
											"name": "WC_Note",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bill_To_ID']"
										},
										"sink": {
											"name": "WC_CustomerBillToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ship_To_ID']"
										},
										"sink": {
											"name": "WC_CustomerShipToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ship_Code']"
										},
										"sink": {
											"name": "WC_ShipCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Salesman']"
										},
										"sink": {
											"name": "WC_Slsman",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Uf_Order_Code']"
										},
										"sink": {
											"name": "WC_OrderCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing_Email']"
										},
										"sink": {
											"name": "WC_Sold_to_Email",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Payment_Method_Title']"
										},
										"sink": {
											"name": "WC_PaymentMethod",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Subtotal']"
										},
										"sink": {
											"name": "WC_OrderSubTotal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Shipping_Method_Title']"
										},
										"sink": {
											"name": "WC_Shipping_Method_Title",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Shipping']"
										},
										"sink": {
											"name": "WC_OrderShipping",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Order_Refund']"
										},
										"sink": {
											"name": "WC_OrderRefund",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Order_Total']"
										},
										"sink": {
											"name": "WC_OrderTotal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Order_Total_Tax']"
										},
										"sink": {
											"name": "WC_OrderTax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Customer_ID']"
										},
										"sink": {
											"name": "Customer_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['Products']"
										},
										"sink": {
											"name": "JSON_Products",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['Orders']['Order']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "OrderXMLInputSFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PP_TempOrder",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "UpdateOrder",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Order Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateOrder]"
						},
						"linkedServiceName": {
							"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Archive and Delete Order File",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "UpdateOrder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": false,
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "SftpWriteSettings",
									"operationTimeout": "01:00:00",
									"useTempFileRename": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceOrderXMLFile",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "OrderFileArchive",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_SyncUpAllOrderPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT orders.Order_id as order_id, orders.Customer_id as customer_id, orders.Order_status as order_status, orders.Due_date,\n\torders.Created_date,\n\torders.Order_total,\n\torders.Line_subtotal,\n\torders.Shipping_total,\n\torders.Tax_total,\n\torders.Billing_email,\n\torders.Billing_phone,\n\torders.Billing_firstname,\n\torders.Billing_lastname,\n\torders.Billing_address_1, \n\torders.Billing_address_2, \n\torders.Billing_city,\n\torders.Billing_state,\n\torders.Billing_postcode,\n\torders.Shipping_firstname,\n\torders.Shipping_lastname,\n\torders.Shipping_address_1,\n\torders.Shipping_address_2,\n\torders.Shipping_city,\n\torders.Shipping_state,\n\torders.shipping_provider,\n\t( SELECT products.ProductName, \tproducts.SKU,\tproducts.Price,\tproducts.Qty, \tproducts.SubTotal\n\t\tfrom dbo.All_OrderItems products\n\t\twhere products.Co_num = orders.Order_id\n\t\tfor JSON AUTO ) as products\nFROM [dbo].All_Orders orders ",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "SftpWriteSettings",
									"operationTimeout": "01:00:00",
									"useTempFileRename": true
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "order_id",
											"type": "String"
										},
										"sink": {
											"path": "$['order_id']"
										}
									},
									{
										"source": {
											"name": "customer_id",
											"type": "String"
										},
										"sink": {
											"path": "$['customer_id']"
										}
									},
									{
										"source": {
											"name": "order_status",
											"type": "String"
										},
										"sink": {
											"path": "$['order_status']"
										}
									},
									{
										"source": {
											"name": "Due_date",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['Due_date']"
										}
									},
									{
										"source": {
											"name": "Created_date",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['Created_date']"
										}
									},
									{
										"source": {
											"name": "Order_total",
											"type": "Decimal"
										},
										"sink": {
											"path": "$['Order_total']"
										}
									},
									{
										"source": {
											"name": "Line_subtotal",
											"type": "Decimal"
										},
										"sink": {
											"path": "$['Line_subtotal']"
										}
									},
									{
										"source": {
											"name": "Shipping_total",
											"type": "Decimal"
										},
										"sink": {
											"path": "$['Shipping_total']"
										}
									},
									{
										"source": {
											"name": "Tax_total",
											"type": "Decimal"
										},
										"sink": {
											"path": "$['Tax_total']"
										}
									},
									{
										"source": {
											"name": "Billing_email",
											"type": "String"
										},
										"sink": {
											"path": "$['Billing_email']"
										}
									},
									{
										"source": {
											"name": "Billing_phone",
											"type": "String"
										},
										"sink": {
											"path": "$['Billing_phone']"
										}
									},
									{
										"source": {
											"name": "Billing_firstname",
											"type": "String"
										},
										"sink": {
											"path": "$['Billing_firstname']"
										}
									},
									{
										"source": {
											"name": "Billing_lastname",
											"type": "String"
										},
										"sink": {
											"path": "$['Billing_lastname']"
										}
									},
									{
										"source": {
											"name": "Billing_address_1",
											"type": "String"
										},
										"sink": {
											"path": "$['Billing_address_1']"
										}
									},
									{
										"source": {
											"name": "Billing_address_2",
											"type": "String"
										},
										"sink": {
											"path": "$['Billing_address_2']"
										}
									},
									{
										"source": {
											"name": "Billing_city",
											"type": "String"
										},
										"sink": {
											"path": "$['Billing_city']"
										}
									},
									{
										"source": {
											"name": "Billing_state",
											"type": "String"
										},
										"sink": {
											"path": "$['Billing_state']"
										}
									},
									{
										"source": {
											"name": "Billing_postcode",
											"type": "String"
										},
										"sink": {
											"path": "$['Billing_postcode']"
										}
									},
									{
										"source": {
											"name": "Shipping_firstname",
											"type": "String"
										},
										"sink": {
											"path": "$['Shipping_firstname']"
										}
									},
									{
										"source": {
											"name": "Shipping_lastname",
											"type": "String"
										},
										"sink": {
											"path": "$['Shipping_lastname']"
										}
									},
									{
										"source": {
											"name": "Shipping_address_1",
											"type": "String"
										},
										"sink": {
											"path": "$['Shipping_address_1']"
										}
									},
									{
										"source": {
											"name": "Shipping_address_2",
											"type": "String"
										},
										"sink": {
											"path": "$['Shipping_address_2']"
										}
									},
									{
										"source": {
											"name": "Shipping_city",
											"type": "String"
										},
										"sink": {
											"path": "$['Shipping_city']"
										}
									},
									{
										"source": {
											"name": "Shipping_state",
											"type": "String"
										},
										"sink": {
											"path": "$['Shipping_state']"
										}
									},
									{
										"source": {
											"name": "shipping_provider",
											"type": "String"
										},
										"sink": {
											"path": "$['shipping_provider']"
										}
									},
									{
										"source": {
											"name": "formatedValue",
											"type": "String"
										},
										"sink": {
											"path": "$['products']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PP_SyncUpAll_Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PP_SyncUpOrderDetailsOutJson",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"Object": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_SyncUpOrderPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Updated Orders to SFTP",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select  [WC_OrderID] as WooCommerceOrderNumber,\n\t\t[SytelineOrderStatus],\n\t\t[SytelineTrackingNumber] as TrackingNumber,\n\t\t[SytelineShipCode] AS ShipCode,\n\t\t[SytelineCarrierName] as CarrierName,\n\t\t[SytelineActualShipDate] as ShipDate\n\t\tfrom [dbo].[Order] where SyncupRequired=1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "SftpWriteSettings",
									"operationTimeout": "01:00:00",
									"useTempFileRename": true
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "WooCommerceOrderNumber",
											"type": "String"
										},
										"sink": {
											"path": "$['WooCommerceOrderNumber']"
										}
									},
									{
										"source": {
											"name": "SytelineOrderStatus",
											"type": "String"
										},
										"sink": {
											"path": "$['SytelineOrderStatus']"
										}
									},
									{
										"source": {
											"name": "TrackingNumber",
											"type": "String"
										},
										"sink": {
											"path": "$['TrackingNumber']"
										}
									},
									{
										"source": {
											"name": "ShipCode",
											"type": "String"
										},
										"sink": {
											"path": "$['ShipCode']"
										}
									},
									{
										"source": {
											"name": "CarrierName",
											"type": "String"
										},
										"sink": {
											"path": "$['CarrierName']"
										}
									},
									{
										"source": {
											"name": "ShipDate",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['ShipDate']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PP_SyncUpOrders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PP_SyncUpOrderOutJSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "UpdateOrderAfterProcessing",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Updated Orders to SFTP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[AfterSyncUpUpdateOrderStatus]"
						},
						"linkedServiceName": {
							"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Customer pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata Copy Customers",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SourceDataset_SFTP",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "SftpReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata Copy Customers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get Metadata Copy Customers').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "PP_CopyCustomers",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PP_CopyCustomers",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"FileExists": {
						"type": "Boolean",
						"defaultValue": false
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PP_CopyCustomers')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Order Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata OrderFile",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "OrderXMLInputSFTP",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "SftpReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata OrderFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get Metadata OrderFile').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "PP Order Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PP Order Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"FileExists": {
						"type": "Boolean",
						"defaultValue": false
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/6 AM UTC')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PP_SyncUpOrderPipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-11-23T06:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PP_SyncUpOrderPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmailNotification_Every_3_Hours')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Email Notifications",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 3,
						"startTime": "2022-01-05T16:26:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sync All Orders Daily Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PP_CopyAllOrderToSFTPServerPipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-12-06T07:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								20
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PP_CopyAllOrderToSFTPServerPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Customer 30 minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Customer pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2021-11-22T05:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Customer pipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Order 30 Minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Order Pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2021-11-22T06:10:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Order Pipeline')]"
			]
		}
	]
}