WooCommerceIntegrationDataFactoryDev/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "WooCommerceIntegrationDataFactoryDev"
		},
		"KalmeshPC_SQLserver_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'KalmeshPC_SQLserver'"
		},
		"PP_PPMONWOOCOMSQL1_SQLServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'PP_PPMONWOOCOMSQL1_SQLServer'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/KalmeshPC_SQLserver')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('KalmeshPC_SQLserver_connectionString')]"
				},
				"connectVia": {
					"referenceName": "KalmeshPC-IntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_PPMONWOOCOMSQL1_SQLServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('PP_PPMONWOOCOMSQL1_SQLServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "PlayPowerWooComSelfHosted-IntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ApplicationLogTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Thread",
						"type": "nvarchar"
					},
					{
						"name": "Level",
						"type": "nvarchar"
					},
					{
						"name": "Logger",
						"type": "nvarchar"
					},
					{
						"name": "Number",
						"type": "nvarchar"
					},
					{
						"name": "Message",
						"type": "nvarchar"
					},
					{
						"name": "Exception",
						"type": "nvarchar"
					},
					{
						"name": "WooCommID",
						"type": "nvarchar"
					},
					{
						"name": "FeedType",
						"type": "nvarchar"
					},
					{
						"name": "NotificationProcessed",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ApplicationLog"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PP_PPMONWOOCOMSQL1_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_All_OrderItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Co_num",
						"type": "nvarchar"
					},
					{
						"name": "Co_line",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ProductName",
						"type": "nvarchar"
					},
					{
						"name": "SKU",
						"type": "nvarchar"
					},
					{
						"name": "Price",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Qty",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "SubTotal",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "All_OrderItems"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PP_PPMONWOOCOMSQL1_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_SqlServerTableTemp_BillingCustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "WC_CustomerId",
						"type": "nvarchar"
					},
					{
						"name": "WC_TermsCode",
						"type": "nvarchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "nvarchar"
					},
					{
						"name": "WC_Salesman",
						"type": "nvarchar"
					},
					{
						"name": "WC_TaxCode",
						"type": "nvarchar"
					},
					{
						"name": "WC_PriceCode",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillToID",
						"type": "varchar"
					},
					{
						"name": "WC_BillingFirstName",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingLastName",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingCompany",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingAddress",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingAddress2",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingCity",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingState",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingPostcode",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingCountry",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingEmail",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingPhone",
						"type": "nvarchar"
					},
					{
						"name": "XML_shipping",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Temp_BillingCustomer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PP_PPMONWOOCOMSQL1_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_SyncUpAll_Orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WC_CustomerBillToID",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerShipToID",
						"type": "varchar"
					},
					{
						"name": "WC_OrderID",
						"type": "varchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "varchar"
					},
					{
						"name": "WC_Freight",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Slsman",
						"type": "varchar"
					},
					{
						"name": "WC_OrderCode",
						"type": "varchar"
					},
					{
						"name": "WC_Sold_to_Email",
						"type": "varchar"
					},
					{
						"name": "WC_Order_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WC_Note",
						"type": "varchar"
					},
					{
						"name": "WC_PaymentMethod",
						"type": "varchar"
					},
					{
						"name": "WC_OrderTax",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderRefund",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderSubTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Shipping_Method_Title",
						"type": "varchar"
					},
					{
						"name": "QueueStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedBy",
						"type": "nvarchar"
					},
					{
						"name": "Modified_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifyBy",
						"type": "nvarchar"
					},
					{
						"name": "SytelineOrderNumber",
						"type": "nvarchar"
					},
					{
						"name": "SytelineTrackingNumber",
						"type": "nvarchar"
					},
					{
						"name": "SytelineShipCode",
						"type": "nvarchar"
					},
					{
						"name": "SytelineCarrierName",
						"type": "nvarchar"
					},
					{
						"name": "SytelineOrderStatus",
						"type": "nvarchar"
					},
					{
						"name": "SytelineActualShipDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SyncupDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SyncupRequired",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "All_Orders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PP_PPMONWOOCOMSQL1_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_SyncUpOrders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WC_CustomerBillToID",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerShipToID",
						"type": "varchar"
					},
					{
						"name": "WC_OrderID",
						"type": "varchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "varchar"
					},
					{
						"name": "WC_Freight",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Slsman",
						"type": "varchar"
					},
					{
						"name": "WC_OrderCode",
						"type": "varchar"
					},
					{
						"name": "WC_Sold_to_Email",
						"type": "varchar"
					},
					{
						"name": "WC_Order_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WC_Note",
						"type": "varchar"
					},
					{
						"name": "WC_PaymentMethod",
						"type": "varchar"
					},
					{
						"name": "WC_OrderTax",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderRefund",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderSubTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Shipping_Method_Title",
						"type": "varchar"
					},
					{
						"name": "QueueStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedBy",
						"type": "nvarchar"
					},
					{
						"name": "Modified_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifyBy",
						"type": "nvarchar"
					},
					{
						"name": "SytelineOrderNumber",
						"type": "nvarchar"
					},
					{
						"name": "SytelineTrackingNumber",
						"type": "nvarchar"
					},
					{
						"name": "SytelineShipCode",
						"type": "nvarchar"
					},
					{
						"name": "SytelineCarrierName",
						"type": "nvarchar"
					},
					{
						"name": "SytelineOrderStatus",
						"type": "nvarchar"
					},
					{
						"name": "SytelineActualShipDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SyncupDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SyncupRequired",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Order"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PP_PPMONWOOCOMSQL1_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_TempOrder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Customer_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WC_OrderID",
						"type": "varchar"
					},
					{
						"name": "WC_OrderStatus",
						"type": "varchar"
					},
					{
						"name": "WC_Order_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WC_Note",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerBillToID",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerShipToID",
						"type": "varchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "varchar"
					},
					{
						"name": "WC_Slsman",
						"type": "varchar"
					},
					{
						"name": "WC_OrderCode",
						"type": "varchar"
					},
					{
						"name": "WC_Sold_to_Email",
						"type": "varchar"
					},
					{
						"name": "WC_PaymentMethod",
						"type": "varchar"
					},
					{
						"name": "WC_OrderSubTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Shipping_Method_Title",
						"type": "varchar"
					},
					{
						"name": "WC_OrderShipping",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderRefund",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTax",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Freight",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "JSON_Products",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Temp_Order"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PP_PPMONWOOCOMSQL1_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerDestinationStore')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KalmeshPC_SQLserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerOrderTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KalmeshPC_SQLserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WC_CustomerBillToID",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerShipToID",
						"type": "varchar"
					},
					{
						"name": "WC_OrderID",
						"type": "varchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "varchar"
					},
					{
						"name": "WC_Freight",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Slsman",
						"type": "varchar"
					},
					{
						"name": "WC_OrderCode",
						"type": "varchar"
					},
					{
						"name": "WC_Sold_to_Email",
						"type": "varchar"
					},
					{
						"name": "WC_Order_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WC_Note",
						"type": "varchar"
					},
					{
						"name": "WC_PaymentMethod",
						"type": "varchar"
					},
					{
						"name": "WC_OrderTax",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderRefund",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderSubTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Shipping_Method_Title",
						"type": "varchar"
					},
					{
						"name": "QueueStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedBy",
						"type": "nvarchar"
					},
					{
						"name": "Modified_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifyBy",
						"type": "nvarchar"
					},
					{
						"name": "SytelineOrderNumber",
						"type": "nvarchar"
					},
					{
						"name": "SytelineTrackingNumber",
						"type": "nvarchar"
					},
					{
						"name": "SytelineShipCode",
						"type": "nvarchar"
					},
					{
						"name": "SytelineCarrierName",
						"type": "nvarchar"
					},
					{
						"name": "SytelineOrderStatus",
						"type": "nvarchar"
					},
					{
						"name": "SytelineActualShipDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SyncupDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SyncupRequired",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Order"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTableTemp_BillingCustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KalmeshPC_SQLserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "WC_CustomerId",
						"type": "nvarchar"
					},
					{
						"name": "WC_TermsCode",
						"type": "nvarchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "nvarchar"
					},
					{
						"name": "WC_Salesman",
						"type": "nvarchar"
					},
					{
						"name": "WC_TaxCode",
						"type": "nvarchar"
					},
					{
						"name": "WC_PriceCode",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillToID",
						"type": "varchar"
					},
					{
						"name": "WC_BillingFirstName",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingLastName",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingCompany",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingAddress",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingAddress2",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingCity",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingState",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingPostcode",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingCountry",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingEmail",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingPhone",
						"type": "nvarchar"
					},
					{
						"name": "XML_shipping",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Temp_BillingCustomer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable_Temp_Order')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KalmeshPC_SQLserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Customer_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WC_OrderID",
						"type": "varchar"
					},
					{
						"name": "QueueStatus",
						"type": "varchar"
					},
					{
						"name": "WC_Order_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WC_Note",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerBillToID",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerShipToID",
						"type": "varchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "varchar"
					},
					{
						"name": "WC_Slsman",
						"type": "varchar"
					},
					{
						"name": "WC_OrderCode",
						"type": "varchar"
					},
					{
						"name": "WC_Sold_to_Email",
						"type": "varchar"
					},
					{
						"name": "WC_PaymentMethod",
						"type": "varchar"
					},
					{
						"name": "WC_OrderSubTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Shipping_Method_Title",
						"type": "varchar"
					},
					{
						"name": "WC_OrderRefund",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTax",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Freight",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "JSON_Products",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Temp_Order"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Temp_Order')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KalmeshPC_SQLserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Customer_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WC_OrderID",
						"type": "varchar"
					},
					{
						"name": "WC_OrderStatus",
						"type": "varchar"
					},
					{
						"name": "WC_Order_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WC_Note",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerBillToID",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerShipToID",
						"type": "varchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "varchar"
					},
					{
						"name": "WC_Slsman",
						"type": "varchar"
					},
					{
						"name": "WC_OrderCode",
						"type": "varchar"
					},
					{
						"name": "WC_Sold_to_Email",
						"type": "varchar"
					},
					{
						"name": "WC_PaymentMethod",
						"type": "varchar"
					},
					{
						"name": "WC_OrderSubTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Shipping_Method_Title",
						"type": "varchar"
					},
					{
						"name": "WC_OrderShipping",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderRefund",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTax",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Freight",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "JSON_Products",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Temp_Order"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TempOrder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KalmeshPC_SQLserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Customer_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WC_OrderID",
						"type": "varchar"
					},
					{
						"name": "WC_OrderStatus",
						"type": "varchar"
					},
					{
						"name": "WC_Order_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WC_Note",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerBillToID",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerShipToID",
						"type": "varchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "varchar"
					},
					{
						"name": "WC_Slsman",
						"type": "varchar"
					},
					{
						"name": "WC_OrderCode",
						"type": "varchar"
					},
					{
						"name": "WC_Sold_to_Email",
						"type": "varchar"
					},
					{
						"name": "WC_PaymentMethod",
						"type": "varchar"
					},
					{
						"name": "WC_OrderSubTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Shipping_Method_Title",
						"type": "varchar"
					},
					{
						"name": "WC_OrderShipping",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderRefund",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTax",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Freight",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "JSON_Products",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Temp_Order"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/temp_all_order_items')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KalmeshPC_SQLserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Order_id",
						"type": "nvarchar"
					},
					{
						"name": "Order_status",
						"type": "nvarchar"
					},
					{
						"name": "Due_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Created_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Customer_id",
						"type": "nvarchar"
					},
					{
						"name": "Order_total",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Line_subtotal",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Shipping_total",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Tax_total",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Billing_email",
						"type": "nvarchar"
					},
					{
						"name": "Billing_phone",
						"type": "nvarchar"
					},
					{
						"name": "Billing_firstname",
						"type": "nvarchar"
					},
					{
						"name": "Billing_lastname",
						"type": "nvarchar"
					},
					{
						"name": "Billing_address_1",
						"type": "nvarchar"
					},
					{
						"name": "Billing_address_2",
						"type": "nvarchar"
					},
					{
						"name": "Billing_city",
						"type": "nvarchar"
					},
					{
						"name": "Billing_state",
						"type": "nvarchar"
					},
					{
						"name": "Billing_postcode",
						"type": "nvarchar"
					},
					{
						"name": "Shipping_firstname",
						"type": "nvarchar"
					},
					{
						"name": "Shipping_lastname",
						"type": "nvarchar"
					},
					{
						"name": "Shipping_address_1",
						"type": "nvarchar"
					},
					{
						"name": "Shipping_address_2",
						"type": "nvarchar"
					},
					{
						"name": "Shipping_city",
						"type": "nvarchar"
					},
					{
						"name": "Shipping_state",
						"type": "nvarchar"
					},
					{
						"name": "Shipping_postcode",
						"type": "nvarchar"
					},
					{
						"name": "Shipping_provider",
						"type": "nvarchar"
					},
					{
						"name": "OrderItems",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "temp_All_Orders_Items"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyCustomers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SFTP to tempCustomer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "/customer-export.xml"
							},
							{
								"name": "Destination",
								"value": "dbo.Temp_BillingCustomer"
							}
						],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table dbo.Temp_BillingCustomer"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Customer_ID']"
										},
										"sink": {
											"name": "WC_CustomerId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Terms_Code']"
										},
										"sink": {
											"name": "WC_TermsCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ship_Code']"
										},
										"sink": {
											"name": "WC_ShipCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Salesman']"
										},
										"sink": {
											"name": "WC_Salesman",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Tax_Code']"
										},
										"sink": {
											"name": "WC_TaxCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Price_Code']"
										},
										"sink": {
											"name": "WC_PriceCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Bill_To_ID']"
										},
										"sink": {
											"name": "WC_BillToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_First_Name']"
										},
										"sink": {
											"name": "WC_BillingFirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Last_Name']"
										},
										"sink": {
											"name": "WC_BillingLastName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Company']"
										},
										"sink": {
											"name": "WC_BillingCompany",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Address_1']"
										},
										"sink": {
											"name": "WC_BillingAddress",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_City']"
										},
										"sink": {
											"name": "WC_BillingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_State']"
										},
										"sink": {
											"name": "WC_BillingState",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Postcode']"
										},
										"sink": {
											"name": "WC_BillingPostcode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Country']"
										},
										"sink": {
											"name": "WC_BillingCountry",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Email']"
										},
										"sink": {
											"name": "WC_BillingEmail",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Phone']"
										},
										"sink": {
											"name": "WC_BillingPhone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Shipping']"
										},
										"sink": {
											"name": "JSON_Shipping",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['Customers']['Customer']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTableTemp_BillingCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update Customer And ShipToTable",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateCustomerAndShipTo]"
						},
						"linkedServiceName": {
							"referenceName": "KalmeshPC_SQLserver",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Billing Customers",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Update Customer And ShipToTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateBillingCustomers]"
						},
						"linkedServiceName": {
							"referenceName": "KalmeshPC_SQLserver",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Customer And ShipTo",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Update Billing Customers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateCustomerAndShipTo]"
						},
						"linkedServiceName": {
							"referenceName": "KalmeshPC_SQLserver",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SFTP to tempCustomer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Customers']['Customer']['Customer_ID']"
										},
										"sink": {
											"name": "WC_CustomerId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Terms_Code']"
										},
										"sink": {
											"name": "WC_TermsCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Ship_Code']"
										},
										"sink": {
											"name": "WC_ShipCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Salesman']"
										},
										"sink": {
											"name": "WC_Salesman",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Tax_Code']"
										},
										"sink": {
											"name": "WC_TaxCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Price_Code']"
										},
										"sink": {
											"name": "WC_PriceCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Bill_To_ID']"
										},
										"sink": {
											"name": "WC_BillToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_First_Name']"
										},
										"sink": {
											"name": "WC_BillingFirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_Last_Name']"
										},
										"sink": {
											"name": "WC_BillingLastName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_Company']"
										},
										"sink": {
											"name": "WC_BillingCompany",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_Address_1']"
										},
										"sink": {
											"name": "WC_BillingAddress",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_Address_2']"
										},
										"sink": {
											"name": "WC_BillingAddress2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_City']"
										},
										"sink": {
											"name": "WC_BillingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_State']"
										},
										"sink": {
											"name": "WC_BillingState",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_Postcode']"
										},
										"sink": {
											"name": "WC_BillingPostcode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_Country']"
										},
										"sink": {
											"name": "WC_BillingCountry",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_Email']"
										},
										"sink": {
											"name": "WC_BillingEmail",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Billing']['Billing_Phone']"
										},
										"sink": {
											"name": "WC_BillingPhone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Customers']['Customer']['Shipping']"
										},
										"sink": {
											"name": "JSON_Shipping",
											"type": "String"
										}
									}
								],
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTableTemp_BillingCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"FileName": {
						"type": "Boolean",
						"defaultValue": false
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTableTemp_BillingCustomer')]",
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyOrderPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Order Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table [dbo].[Temp_Order]"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Order_Number']"
										},
										"sink": {
											"name": "WC_OrderID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Status']"
										},
										"sink": {
											"name": "WC_OrderStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Date']"
										},
										"sink": {
											"name": "WC_Order_Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['Customer_Note']"
										},
										"sink": {
											"name": "WC_Note",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bill_To_ID']"
										},
										"sink": {
											"name": "WC_CustomerBillToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ship_To_ID']"
										},
										"sink": {
											"name": "WC_CustomerShipToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ship_Code']"
										},
										"sink": {
											"name": "WC_ShipCode"
										}
									},
									{
										"source": {
											"path": "[['Salesman']"
										},
										"sink": {
											"name": "WC_Slsman",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Uf_Order_Code']"
										},
										"sink": {
											"name": "WC_OrderCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing_Email']"
										},
										"sink": {
											"name": "WC_Sold_to_Email",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Payment_Method_Title']"
										},
										"sink": {
											"name": "WC_PaymentMethod",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Subtotal']"
										},
										"sink": {
											"name": "WC_OrderSubTotal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Shipping_Method_Title']"
										},
										"sink": {
											"name": "WC_Shipping_Method_Title",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Shipping']"
										},
										"sink": {
											"name": "WC_OrderShipping",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Order_Shipping']"
										},
										"sink": {
											"name": "WC_Freight",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Order_Refund']"
										},
										"sink": {
											"name": "WC_OrderRefund",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Order_Total']"
										},
										"sink": {
											"name": "WC_OrderTotal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Order_Total_Tax']"
										},
										"sink": {
											"name": "WC_OrderTax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Customer_ID']"
										},
										"sink": {
											"name": "Customer_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['Products']"
										},
										"sink": {
											"name": "JSON_Products",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['Orders']['Order']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "CopyOrderXMLInputSFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable_Temp_Order",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "UpdateOrder",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateOrder]"
						},
						"linkedServiceName": {
							"referenceName": "KalmeshPC_SQLserver",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Order Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Number']"
										},
										"sink": {
											"name": "WC_OrderID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Status']"
										},
										"sink": {
											"name": "WC_OrderStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Date']"
										},
										"sink": {
											"name": "WC_Order_Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Customer_Note']"
										},
										"sink": {
											"name": "WC_Note",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Bill_To_ID']"
										},
										"sink": {
											"name": "$['Orders']['Order']WC_CustomerBillToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Ship_To_ID']"
										},
										"sink": {
											"name": "WC_CustomerShipToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Ship_Code']"
										},
										"sink": {
											"name": "WC_ShipCode"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Salesman']"
										},
										"sink": {
											"name": "WC_Slsman",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Uf_Order_Code']"
										},
										"sink": {
											"name": "WC_OrderCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Billing_Email']"
										},
										"sink": {
											"name": "WC_Sold_to_Email",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Payment_Method_Title']"
										},
										"sink": {
											"name": "WC_PaymentMethod",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Subtotal']"
										},
										"sink": {
											"name": "WC_OrderSubTotal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Shipping_Method_Title']"
										},
										"sink": {
											"name": "WC_Shipping_Method_Title",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Shipping']"
										},
										"sink": {
											"name": "WC_OrderShipping",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Shipping']"
										},
										"sink": {
											"name": "WC_Freight",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Refund']"
										},
										"sink": {
											"name": "WC_OrderRefund",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Total']"
										},
										"sink": {
											"name": "WC_OrderTotal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Total_Tax']"
										},
										"sink": {
											"name": "WC_OrderTax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Customer_ID']"
										},
										"sink": {
											"name": "Customer_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Products']"
										},
										"sink": {
											"name": "JSON_Products",
											"type": "String"
										}
									}
								],
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "CopyOrderXMLInputSFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable_Temp_Order",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable_Temp_Order')]",
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Email Notifications')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup ApplicationLog",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT  Date, Thread, Level, Logger, Number, Message, Exception, WooCommID, FeedType FROM  ApplicationLog  where NotificationProcessed=0",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ApplicationLogTable",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For Each Notification Id",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup ApplicationLog",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup ApplicationLog').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Web1",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-21.centralus.logic.azure.com:443/workflows/0402ce22065e4993a95c0fc2f38a769f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=45Dv6t4RACfAXUQUiBdGo5u4NkCI2soByapFn8eHQ8M",
										"connectVia": {
											"referenceName": "PlayPowerWooComSelfHosted-IntegrationRuntime",
											"type": "IntegrationRuntimeReference"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"Date": "@{item().Date}",
											"Thread": "@{item().Thread}",
											"Level": "@{item().Level}",
											"Logger": "@{item().Logger}",
											"Number": "@{item().Number}",
											"Message": "@{item().Message}",
											"Exception": "@{item().Exception}",
											"WooCommID": "@{item().WooCommID}",
											"FeedType": "@{item().FeedType}"
										},
										"datasets": [
											{
												"referenceName": "ApplicationLogTable",
												"type": "DatasetReference",
												"parameters": {}
											}
										]
									}
								},
								{
									"name": "ResetNotification",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Web1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[UpdateNotificationAsProcessed]",
										"storedProcedureParameters": {
											"Number": {
												"value": {
													"value": "@item().Number",
													"type": "Expression"
												},
												"type": "String"
											},
											"WooCommID": {
												"value": {
													"value": "@item().WooCommID",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ApplicationLogTable')]",
				"[concat(variables('factoryId'), '/linkedServices/PP_PPMONWOOCOMSQL1_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP Order Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Multi",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table [dbo].[Temp_Order]"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Order_Number']"
										},
										"sink": {
											"name": "WC_OrderID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Status']"
										},
										"sink": {
											"name": "WC_OrderStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Date']"
										},
										"sink": {
											"name": "WC_Order_Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['Customer_Note']"
										},
										"sink": {
											"name": "WC_Note",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bill_To_ID']"
										},
										"sink": {
											"name": "WC_CustomerBillToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ship_To_ID']"
										},
										"sink": {
											"name": "WC_CustomerShipToID",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"path": "[['Ship_Code']"
										},
										"sink": {
											"name": "WC_ShipCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Salesman']"
										},
										"sink": {
											"name": "WC_Slsman",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Uf_Order_Code']"
										},
										"sink": {
											"name": "WC_OrderCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing_Email']"
										},
										"sink": {
											"name": "WC_Sold_to_Email",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Payment_Method_Title']"
										},
										"sink": {
											"name": "WC_PaymentMethod",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Subtotal']"
										},
										"sink": {
											"name": "WC_OrderSubTotal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Shipping_Method_Title']"
										},
										"sink": {
											"name": "WC_Shipping_Method_Title",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Shipping']"
										},
										"sink": {
											"name": "WC_OrderShipping",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Order_Refund']"
										},
										"sink": {
											"name": "WC_OrderRefund",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Order_Total']"
										},
										"sink": {
											"name": "WC_OrderTotal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Order_Total_Tax']"
										},
										"sink": {
											"name": "WC_OrderTax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Customer_ID']"
										},
										"sink": {
											"name": "Customer_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['Products']"
										},
										"sink": {
											"name": "JSON_Products",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['Orders']['Order']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "OrderXMLInputSFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PP_TempOrder",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Single",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Multi",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Number']"
										},
										"sink": {
											"name": "WC_OrderID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Status']"
										},
										"sink": {
											"name": "WC_OrderStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Date']"
										},
										"sink": {
											"name": "WC_Order_Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Customer_Note']"
										},
										"sink": {
											"name": "WC_Note",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Bill_To_ID']"
										},
										"sink": {
											"name": "WC_CustomerBillToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Ship_To_ID']"
										},
										"sink": {
											"name": "WC_CustomerShipToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Ship_Code']"
										},
										"sink": {
											"name": "WC_ShipCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Salesman']"
										},
										"sink": {
											"name": "WC_Slsman",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Uf_Order_Code']"
										},
										"sink": {
											"name": "WC_OrderCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Billing_Email']"
										},
										"sink": {
											"name": "WC_Sold_to_Email",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Payment_Method_Title']"
										},
										"sink": {
											"name": "WC_PaymentMethod",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Subtotal']"
										},
										"sink": {
											"name": "WC_OrderSubTotal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Shipping_Method_Title']"
										},
										"sink": {
											"name": "WC_Shipping_Method_Title",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Shipping']"
										},
										"sink": {
											"name": "WC_OrderShipping",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Refund']"
										},
										"sink": {
											"name": "WC_OrderRefund",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Total']"
										},
										"sink": {
											"name": "WC_OrderTotal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Order_Total_Tax']"
										},
										"sink": {
											"name": "WC_OrderTax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Customer_ID']"
										},
										"sink": {
											"name": "Customer_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['Orders']['Order']['Products']"
										},
										"sink": {
											"name": "JSON_Products",
											"type": "String"
										}
									}
								],
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "OrderXMLInputSFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PP_TempOrder",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "UpdateOrder",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Single",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateOrder]"
						},
						"linkedServiceName": {
							"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Archive and Delete Order File",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "UpdateOrder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": false,
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "SftpWriteSettings",
									"operationTimeout": "01:00:00",
									"useTempFileRename": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceOrderXMLFile",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "OrderFileArchive",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PP_TempOrder')]",
				"[concat(variables('factoryId'), '/linkedServices/PP_PPMONWOOCOMSQL1_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_CopyAllOrderToSFTPServerPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy All Orders",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT orders.Order_id as order_id,\n\torders.Customer_id as customer_id,\n\torders.Order_status as order_status,\n\torders.Due_date,\n\torders.Created_date,\n\torders.Order_total,\n\torders.Line_subtotal,\n\torders.Shipping_total,\n\torders.Tax_total,\n\torders.Billing_email,\n\torders.Billing_phone,\n\torders.Billing_firstname,\n\torders.Billing_lastname,\n\torders.Billing_address_1, \n\torders.Billing_address_2, \n\torders.Billing_city,\n\torders.Billing_state,\n\torders.Billing_postcode,\n\torders.Shipping_firstname,\n\torders.Shipping_lastname,\n\torders.Shipping_address_1,\n\torders.Shipping_address_2,\n\torders.Shipping_city,\n\torders.Shipping_state, orders.Shipping_postcode,\n\torders.shipping_provider,\n\t( SELECT products.ProductName, \tproducts.SKU,\tproducts.Price,\tproducts.Qty, \tproducts.SubTotal\n\t\tfrom dbo.All_OrderItems products\n\t\twhere products.Co_num = orders.Order_id\n\t\tfor JSON AUTO ) as products\nFROM [dbo].All_Orders orders",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"maxConcurrentConnections": 1
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "PP_SyncUpAll_Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "BlobAllOrdersJson",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Orders Json File Updater",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "Copy All Orders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "OrdersJsonFileUpdater",
							"method": "GET",
							"headers": {}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy JSON to SFTP Server",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Orders Json File Updater",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "SftpWriteSettings",
									"operationTimeout": "01:00:00",
									"useTempFileRename": true
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "BlobAllOrdersJson",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PP_SyncUpOrderDetailsOutJson",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PP_SyncUpAll_Orders')]"
			]
		}
	]
}