WooCommerceIntegrationDataFactoryDev/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "WooCommerceIntegrationDataFactoryDev"
		},
		"KalmeshPC_SQLserver_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'KalmeshPC_SQLserver'"
		},
		"PP_PPMONWOOCOMSQL1_SQLServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'PP_PPMONWOOCOMSQL1_SQLServer'"
		},
		"SFTP_WooComStaging_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SFTP_WooComStaging'"
		},
		"SFTP_WooComStaging_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "wabashstaging.sftp.wpengine.com"
		},
		"SFTP_WooComStaging_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "wabashstaging-syteline"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyCustomers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SFTP to tempCustomer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "/customer-export.xml"
							},
							{
								"name": "Destination",
								"value": "dbo.Temp_BillingCustomer"
							}
						],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table dbo.Temp_BillingCustomer"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Customer_ID']"
										},
										"sink": {
											"name": "WC_CustomerId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Terms_Code']"
										},
										"sink": {
											"name": "WC_TermsCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ship_Code']"
										},
										"sink": {
											"name": "WC_ShipCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Salesman']"
										},
										"sink": {
											"name": "WC_Salesman",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Tax_Code']"
										},
										"sink": {
											"name": "WC_TaxCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Price_Code']"
										},
										"sink": {
											"name": "WC_PriceCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Bill_To_ID']"
										},
										"sink": {
											"name": "WC_BillToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_First_Name']"
										},
										"sink": {
											"name": "WC_BillingFirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Last_Name']"
										},
										"sink": {
											"name": "WC_BillingLastName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Address_1']"
										},
										"sink": {
											"name": "WC_BillingAddress",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_State']"
										},
										"sink": {
											"name": "WC_BillingState",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Postcode']"
										},
										"sink": {
											"name": "WC_BillingPostcode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Country']"
										},
										"sink": {
											"name": "WC_BillingCountry",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Email']"
										},
										"sink": {
											"name": "WC_BillingEmail",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Phone']"
										},
										"sink": {
											"name": "WC_BillingPhone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_City']"
										},
										"sink": {
											"name": "WC_BillingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Shipping']"
										},
										"sink": {
											"name": "JSON_Shipping",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['Customers']['Customer']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTableTemp_BillingCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update Customer And ShipToTable",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SFTP to tempCustomer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateCustomerAndShipTo]"
						},
						"linkedServiceName": {
							"referenceName": "KalmeshPC_SQLserver",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Billing Customers",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Update Customer And ShipToTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateBillingCustomers]"
						},
						"linkedServiceName": {
							"referenceName": "KalmeshPC_SQLserver",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Customer And ShipTo",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Update Billing Customers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateCustomerAndShipTo]"
						},
						"linkedServiceName": {
							"referenceName": "KalmeshPC_SQLserver",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SFTP')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerTableTemp_BillingCustomer')]",
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyOrderPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Order Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table [dbo].[Temp_Order]"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Order_Number']"
										},
										"sink": {
											"name": "WC_OrderID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Status']"
										},
										"sink": {
											"name": "WC_OrderStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Date']"
										},
										"sink": {
											"name": "WC_Order_Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['Customer_Note']"
										},
										"sink": {
											"name": "WC_Note",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bill_To_ID']"
										},
										"sink": {
											"name": "WC_CustomerBillToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ship_To_ID']"
										},
										"sink": {
											"name": "WC_CustomerShipToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ship_Code']"
										},
										"sink": {
											"name": "WC_ShipCode"
										}
									},
									{
										"source": {
											"path": "[['Salesman']"
										},
										"sink": {
											"name": "WC_Slsman",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Uf_Order_Code']"
										},
										"sink": {
											"name": "WC_OrderCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing_Email']"
										},
										"sink": {
											"name": "WC_Sold_to_Email",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Payment_Method_Title']"
										},
										"sink": {
											"name": "WC_PaymentMethod",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Subtotal']"
										},
										"sink": {
											"name": "WC_OrderSubTotal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Shipping_Method_Title']"
										},
										"sink": {
											"name": "WC_Shipping_Method_Title",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Shipping']"
										},
										"sink": {
											"name": "WC_OrderShipping",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Order_Refund']"
										},
										"sink": {
											"name": "WC_OrderRefund",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Order_Total']"
										},
										"sink": {
											"name": "WC_OrderTotal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Order_Total_Tax']"
										},
										"sink": {
											"name": "WC_OrderTax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Customer_ID']"
										},
										"sink": {
											"name": "Customer_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['Products']"
										},
										"sink": {
											"name": "JSON_Products",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['Orders']['Order']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "OrderXMLInputSFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable_Temp_Order",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "UpdateOrder",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Order Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateOrder]"
						},
						"linkedServiceName": {
							"referenceName": "KalmeshPC_SQLserver",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OrderXMLInputSFTP')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerTable_Temp_Order')]",
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_CopyCustomers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SFTP to tempCustomer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "/customer-export.xml"
							},
							{
								"name": "Destination",
								"value": "dbo.Temp_BillingCustomer"
							}
						],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table dbo.Temp_BillingCustomer"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Customer_ID']"
										},
										"sink": {
											"name": "WC_CustomerId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Terms_Code']"
										},
										"sink": {
											"name": "WC_TermsCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ship_Code']"
										},
										"sink": {
											"name": "WC_ShipCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Salesman']"
										},
										"sink": {
											"name": "WC_Salesman",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Tax_Code']"
										},
										"sink": {
											"name": "WC_TaxCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Price_Code']"
										},
										"sink": {
											"name": "WC_PriceCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Bill_To_ID']"
										},
										"sink": {
											"name": "WC_BillToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_First_Name']"
										},
										"sink": {
											"name": "WC_BillingFirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Last_Name']"
										},
										"sink": {
											"name": "WC_BillingLastName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Address_1']"
										},
										"sink": {
											"name": "WC_BillingAddress",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_State']"
										},
										"sink": {
											"name": "WC_BillingState",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Postcode']"
										},
										"sink": {
											"name": "WC_BillingPostcode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Country']"
										},
										"sink": {
											"name": "WC_BillingCountry",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Email']"
										},
										"sink": {
											"name": "WC_BillingEmail",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_Phone']"
										},
										"sink": {
											"name": "WC_BillingPhone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing']['Billing_City']"
										},
										"sink": {
											"name": "WC_BillingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Shipping']"
										},
										"sink": {
											"name": "JSON_Shipping",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['Customers']['Customer']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PP_SqlServerTableTemp_BillingCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "UpdateCustomerAndShipToTable",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SFTP to tempCustomer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateCustomerAndShipTo]"
						},
						"linkedServiceName": {
							"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateBillingCustomers",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateCustomerAndShipToTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateBillingCustomers]"
						},
						"linkedServiceName": {
							"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateShipToCustomers",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateBillingCustomers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateShipToCustomers]"
						},
						"linkedServiceName": {
							"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SFTP')]",
				"[concat(variables('factoryId'), '/datasets/PP_SqlServerTableTemp_BillingCustomer')]",
				"[concat(variables('factoryId'), '/linkedServices/PP_PPMONWOOCOMSQL1_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_CopyOrderPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Order Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table [dbo].[Temp_Order]"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Order_Number']"
										},
										"sink": {
											"name": "WC_OrderID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Status']"
										},
										"sink": {
											"name": "WC_OrderStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Date']"
										},
										"sink": {
											"name": "WC_Order_Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['Customer_Note']"
										},
										"sink": {
											"name": "WC_Note",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bill_To_ID']"
										},
										"sink": {
											"name": "WC_CustomerBillToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ship_To_ID']"
										},
										"sink": {
											"name": "WC_CustomerShipToID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ship_Code']"
										},
										"sink": {
											"name": "WC_ShipCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Salesman']"
										},
										"sink": {
											"name": "WC_Slsman",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Uf_Order_Code']"
										},
										"sink": {
											"name": "WC_OrderCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Billing_Email']"
										},
										"sink": {
											"name": "WC_Sold_to_Email",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Payment_Method_Title']"
										},
										"sink": {
											"name": "WC_PaymentMethod",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Subtotal']"
										},
										"sink": {
											"name": "WC_OrderSubTotal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Shipping_Method_Title']"
										},
										"sink": {
											"name": "WC_Shipping_Method_Title",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Order_Shipping']"
										},
										"sink": {
											"name": "WC_OrderShipping",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Order_Refund']"
										},
										"sink": {
											"name": "WC_OrderRefund",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Order_Total']"
										},
										"sink": {
											"name": "WC_OrderTotal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Order_Total_Tax']"
										},
										"sink": {
											"name": "WC_OrderTax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['Customer_ID']"
										},
										"sink": {
											"name": "Customer_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['Products']"
										},
										"sink": {
											"name": "JSON_Products",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['Orders']['Order']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "OrderXMLInputSFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PP_TempOrder",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "UpdateOrder",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Order Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateOrder]"
						},
						"linkedServiceName": {
							"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OrderXMLInputSFTP')]",
				"[concat(variables('factoryId'), '/datasets/PP_TempOrder')]",
				"[concat(variables('factoryId'), '/linkedServices/PP_PPMONWOOCOMSQL1_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_SyncUpOrderPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Updated Orders to SFTP",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select  [WC_OrderID] as WooCommerceOrderNumber,\n\t\t[SytelineOrderStatus],\n\t\t[SytelineTrackingNumber] as TrackingNumber,\n\t\t[SytelineShipCode] AS ShipCode,\n\t\t[SytelineCarrierName] as CarrierName,\n\t\t[SytelineActualShipDate] as ShipDate\n\t\tfrom [dbo].[Order] where SyncupRequired=1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "SftpWriteSettings",
									"operationTimeout": "01:00:00",
									"useTempFileRename": true
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "WooCommerceOrderNumber",
											"type": "String"
										},
										"sink": {
											"path": "$['WooCommerceOrderNumber']"
										}
									},
									{
										"source": {
											"name": "SytelineOrderStatus",
											"type": "String"
										},
										"sink": {
											"path": "$['SytelineOrderStatus']"
										}
									},
									{
										"source": {
											"name": "TrackingNumber",
											"type": "String"
										},
										"sink": {
											"path": "$['TrackingNumber']"
										}
									},
									{
										"source": {
											"name": "ShipCode",
											"type": "String"
										},
										"sink": {
											"path": "$['ShipCode']"
										}
									},
									{
										"source": {
											"name": "CarrierName",
											"type": "String"
										},
										"sink": {
											"path": "$['CarrierName']"
										}
									},
									{
										"source": {
											"name": "ShipDate",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['ShipDate']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PP_SyncUpOrders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PP_SyncUpOrderOutJSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "UpdateOrderAfterProcessing",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Updated Orders to SFTP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[AfterSyncUpUpdateOrderStatus]"
						},
						"linkedServiceName": {
							"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PP_SyncUpOrders')]",
				"[concat(variables('factoryId'), '/datasets/PP_SyncUpOrderOutJSON')]",
				"[concat(variables('factoryId'), '/linkedServices/PP_PPMONWOOCOMSQL1_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OrderXMLInputSFTP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SFTP_WooComStaging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": "order-export.xml"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SFTP_WooComStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_SqlServerTableTemp_BillingCustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "WC_CustomerId",
						"type": "nvarchar"
					},
					{
						"name": "WC_TermsCode",
						"type": "nvarchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "nvarchar"
					},
					{
						"name": "WC_Salesman",
						"type": "nvarchar"
					},
					{
						"name": "WC_TaxCode",
						"type": "nvarchar"
					},
					{
						"name": "WC_PriceCode",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillToID",
						"type": "varchar"
					},
					{
						"name": "WC_BillingFirstName",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingLastName",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingCompany",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingAddress",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingAddress2",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingCity",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingState",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingPostcode",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingCountry",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingEmail",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingPhone",
						"type": "nvarchar"
					},
					{
						"name": "XML_shipping",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Temp_BillingCustomer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PP_PPMONWOOCOMSQL1_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_SyncUpOrderOutJSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SFTP_WooComStaging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": {
							"value": "@Concat('Syteline_OrderShippingInfo_', formatDateTime(utcnow(),'yyyyMMdd_HHmm'),'.json')",
							"type": "Expression"
						},
						"folderPath": "/processed"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SFTP_WooComStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_SyncUpOrders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WC_CustomerBillToID",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerShipToID",
						"type": "varchar"
					},
					{
						"name": "WC_OrderID",
						"type": "varchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "varchar"
					},
					{
						"name": "WC_Freight",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Slsman",
						"type": "varchar"
					},
					{
						"name": "WC_OrderCode",
						"type": "varchar"
					},
					{
						"name": "WC_Sold_to_Email",
						"type": "varchar"
					},
					{
						"name": "WC_Order_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WC_Note",
						"type": "varchar"
					},
					{
						"name": "WC_PaymentMethod",
						"type": "varchar"
					},
					{
						"name": "WC_OrderTax",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderRefund",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderSubTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Shipping_Method_Title",
						"type": "varchar"
					},
					{
						"name": "QueueStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedBy",
						"type": "nvarchar"
					},
					{
						"name": "Modified_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifyBy",
						"type": "nvarchar"
					},
					{
						"name": "SytelineOrderNumber",
						"type": "nvarchar"
					},
					{
						"name": "SytelineTrackingNumber",
						"type": "nvarchar"
					},
					{
						"name": "SytelineShipCode",
						"type": "nvarchar"
					},
					{
						"name": "SytelineCarrierName",
						"type": "nvarchar"
					},
					{
						"name": "SytelineOrderStatus",
						"type": "nvarchar"
					},
					{
						"name": "SytelineActualShipDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SyncupDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SyncupRequired",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Order"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PP_PPMONWOOCOMSQL1_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_TempOrder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PP_PPMONWOOCOMSQL1_SQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Customer_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WC_OrderID",
						"type": "varchar"
					},
					{
						"name": "WC_OrderStatus",
						"type": "varchar"
					},
					{
						"name": "WC_Order_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WC_Note",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerBillToID",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerShipToID",
						"type": "varchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "varchar"
					},
					{
						"name": "WC_Slsman",
						"type": "varchar"
					},
					{
						"name": "WC_OrderCode",
						"type": "varchar"
					},
					{
						"name": "WC_Sold_to_Email",
						"type": "varchar"
					},
					{
						"name": "WC_PaymentMethod",
						"type": "varchar"
					},
					{
						"name": "WC_OrderSubTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Shipping_Method_Title",
						"type": "varchar"
					},
					{
						"name": "WC_OrderShipping",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderRefund",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTax",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Freight",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "JSON_Products",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Temp_Order"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PP_PPMONWOOCOMSQL1_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SFTP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SFTP_WooComStaging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": "customer-export.xml"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SFTP_WooComStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerDestinationStore')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KalmeshPC_SQLserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerOrderTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KalmeshPC_SQLserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WC_CustomerBillToID",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerShipToID",
						"type": "varchar"
					},
					{
						"name": "WC_OrderID",
						"type": "varchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "varchar"
					},
					{
						"name": "WC_Freight",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Slsman",
						"type": "varchar"
					},
					{
						"name": "WC_OrderCode",
						"type": "varchar"
					},
					{
						"name": "WC_Sold_to_Email",
						"type": "varchar"
					},
					{
						"name": "WC_Order_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WC_Note",
						"type": "varchar"
					},
					{
						"name": "WC_PaymentMethod",
						"type": "varchar"
					},
					{
						"name": "WC_OrderTax",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderRefund",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderSubTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Shipping_Method_Title",
						"type": "varchar"
					},
					{
						"name": "QueueStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedBy",
						"type": "nvarchar"
					},
					{
						"name": "Modified_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifyBy",
						"type": "nvarchar"
					},
					{
						"name": "SytelineOrderNumber",
						"type": "nvarchar"
					},
					{
						"name": "SytelineTrackingNumber",
						"type": "nvarchar"
					},
					{
						"name": "SytelineShipCode",
						"type": "nvarchar"
					},
					{
						"name": "SytelineCarrierName",
						"type": "nvarchar"
					},
					{
						"name": "SytelineOrderStatus",
						"type": "nvarchar"
					},
					{
						"name": "SytelineActualShipDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SyncupDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SyncupRequired",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Order"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTableTemp_BillingCustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KalmeshPC_SQLserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "WC_CustomerId",
						"type": "nvarchar"
					},
					{
						"name": "WC_TermsCode",
						"type": "nvarchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "nvarchar"
					},
					{
						"name": "WC_Salesman",
						"type": "nvarchar"
					},
					{
						"name": "WC_TaxCode",
						"type": "nvarchar"
					},
					{
						"name": "WC_PriceCode",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillToID",
						"type": "varchar"
					},
					{
						"name": "WC_BillingFirstName",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingLastName",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingCompany",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingAddress",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingAddress2",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingCity",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingState",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingPostcode",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingCountry",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingEmail",
						"type": "nvarchar"
					},
					{
						"name": "WC_BillingPhone",
						"type": "nvarchar"
					},
					{
						"name": "XML_shipping",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Temp_BillingCustomer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable_Temp_Order')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KalmeshPC_SQLserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Customer_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WC_OrderID",
						"type": "varchar"
					},
					{
						"name": "QueueStatus",
						"type": "varchar"
					},
					{
						"name": "WC_Order_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WC_Note",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerBillToID",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerShipToID",
						"type": "varchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "varchar"
					},
					{
						"name": "WC_Slsman",
						"type": "varchar"
					},
					{
						"name": "WC_OrderCode",
						"type": "varchar"
					},
					{
						"name": "WC_Sold_to_Email",
						"type": "varchar"
					},
					{
						"name": "WC_PaymentMethod",
						"type": "varchar"
					},
					{
						"name": "WC_OrderSubTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Shipping_Method_Title",
						"type": "varchar"
					},
					{
						"name": "WC_OrderRefund",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTax",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Freight",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "JSON_Products",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Temp_Order"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_Temp_Order')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KalmeshPC_SQLserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Customer_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WC_OrderID",
						"type": "varchar"
					},
					{
						"name": "WC_OrderStatus",
						"type": "varchar"
					},
					{
						"name": "WC_Order_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WC_Note",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerBillToID",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerShipToID",
						"type": "varchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "varchar"
					},
					{
						"name": "WC_Slsman",
						"type": "varchar"
					},
					{
						"name": "WC_OrderCode",
						"type": "varchar"
					},
					{
						"name": "WC_Sold_to_Email",
						"type": "varchar"
					},
					{
						"name": "WC_PaymentMethod",
						"type": "varchar"
					},
					{
						"name": "WC_OrderSubTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Shipping_Method_Title",
						"type": "varchar"
					},
					{
						"name": "WC_OrderShipping",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderRefund",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTax",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Freight",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "JSON_Products",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Temp_Order"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TempOrder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KalmeshPC_SQLserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Customer_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WC_OrderID",
						"type": "varchar"
					},
					{
						"name": "WC_OrderStatus",
						"type": "varchar"
					},
					{
						"name": "WC_Order_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WC_Note",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerBillToID",
						"type": "varchar"
					},
					{
						"name": "WC_CustomerShipToID",
						"type": "varchar"
					},
					{
						"name": "WC_ShipCode",
						"type": "varchar"
					},
					{
						"name": "WC_Slsman",
						"type": "varchar"
					},
					{
						"name": "WC_OrderCode",
						"type": "varchar"
					},
					{
						"name": "WC_Sold_to_Email",
						"type": "varchar"
					},
					{
						"name": "WC_PaymentMethod",
						"type": "varchar"
					},
					{
						"name": "WC_OrderSubTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Shipping_Method_Title",
						"type": "varchar"
					},
					{
						"name": "WC_OrderShipping",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderRefund",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_OrderTax",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "WC_Freight",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "JSON_Products",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Temp_Order"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KalmeshPC_SQLserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KalmeshPC_SQLserver')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('KalmeshPC_SQLserver_connectionString')]"
				},
				"connectVia": {
					"referenceName": "KalmeshPC-IntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/KalmeshPC-IntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PP_PPMONWOOCOMSQL1_SQLServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('PP_PPMONWOOCOMSQL1_SQLServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "PlayPowerWooComSelfHosted-IntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/PlayPowerWooComSelfHosted-IntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFTP_WooComStaging')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('SFTP_WooComStaging_properties_typeProperties_host')]",
					"port": "2222",
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('SFTP_WooComStaging_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SFTP_WooComStaging_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/KalmeshPC-IntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PlayPowerWooComSelfHosted-IntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Play Power WooCom Self Hosted-Integration Runtime",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}